<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Profile Pic</title>
</head>
<body>

    <!--
        TO DO:
    -->
    <div class="p-10 bg-side h-screen">
        <div class="flex flex-row p-5 cursor-pointer">
            <div class="text-4xl pr-5 text-left">
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.3qGQHrxd5PBHrF0SNN1l6QHaEb%26pid%3DApi&f=1" alt="" class="h-16 w-16 rounded-full opacity-100">
        </div>
        <div class="grid grid-cols-1">
                <div class="text-white text-2xl font-medium p-0">Charlie Kilner
                    <div class="text-lg pr-5 font-mono uppercase text-white pt-0 opacity-60">@charlie</div>
                </div>
        </div>
        </div>
    </div>

    
</body>
</html>